div {
	margin: auto;
	width: 1024px;
}
body {
	background-color: #2B2B2B;
}

.menuitem  {
	padding: 10px;
	width: 200px;
	display: inline-block;
	float: left;
	position: relative;
	text-align: center;
	top: 500px;
	color: white;
}
 
header a {
	color: #F6F6F6;
}
.group {
	position: relative;
	left: 200px;
}

.title {
	position: relative;
	font-size: 150px;
	text-align: center;
	top: 50px;
	color: #F6F6F6
}

 footer {
 	position: relative;
 	top: 400px
 }

 .socialmedias {
 	position: relative;
 	text-align: center;
 	left: 500px;
 }

 .button {
	background-color: #F6F6F6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }
 
 .icon {
 	padding: 15px;
 	position: relative;
 	top: 50px;
 }