div {
	margin: auto;
	width: 1024px;
}

.menuitem {
	padding: 10px;
	width: 200px;
	display: inline-block;
	float: left;
	position: relative;
	text-align: center;
}
.group {
	position: relative;
	left: 200px;
	text-align: center;
}
.title {
	font-size: 50px;
	text-align: center;
	padding: 30px;
}
.categories {
	font-size: 25px;
	position: relative;
	left: 200px;
	top: 50px;

}
.subcat {
	font-size: 20px;
	position: relative;
	left: 700px;
	top: -10px;
}

.box {
	border: 1px solid black;
	height: 200px;
}

/*#programacao_box {
	background-image: url(../img/programacao.jpg);
}

#eletronica_box {
	background-image: url(../img/eletronica.jpg);
}*/

.prog_projects {
	position: relative;
	left: 750px;
	top: -10px;
}

footer {
	padding: 30px;
}